<article class="post">
        <div class="user_pic"></div>
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{format_url post_url}})</span>
      </div>
      <div class="meta">
       <span>{{vote_count}}</span> {{format_plural "like" vote_count}} by <span>{{user.username}}</span> on
        {{format_date created_at}} </br>
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>