<article>
  <a href="/dashboard" class="backtoDash"> &larr; Back to dashboard</a>
  <h2 class="edit-title">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <label for="post-title"></label>
      <input name="post-title" type="text"  class="post-title" value="{{post.title}}" maxlength="150"/>
      
      <span class="edit-url">({{format_url post.post_url}})</span>
    </div>
    <div class="meta-edit">
      {{post.vote_count}} {{format_plural "like" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="save-post-btn">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
  <form class="comment-form">
    <div>
      <label for="comment-body"></label>
      <textarea name="comment-body" value="{{post_text}}" class="comment-body cb2 ">{{post.post_text}}</textarea>
    </div>
    {{> comments post.comments}}
  <div>
    <button type="submit" class="add-comment">add comment</button>
  </div>
</form>
</article>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>